*, *::after, *:before {
    box-sizing: border-box;
}


.main {
    position: absolute;
    left: 50%;
    width: 600px;
    height: 1000px;
    transform: translateX(-50%);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.square {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-color: darkslategrey;
    border-style: solid;
    background: black;
}


.border {
    background: rgb(50,50,50);
    border-color:slategrey;
}

.iBlock {
    background: cyan;

}
.jBlock {
    background: blue;

}
.lBlock {
    background: orange;

}
.oBlock {

    background: yellow;
}
.zBlock {

    background: red;
}
.tBlock {
    background: violet;
}
.sBlock {
    background: green;
}
.tetris {
    background-color: black;
    transition: background-color 250ms linear;
}
